/infra/.phpunit.cache
/node_modules
/infra/public/build
/infra/public/hot
/infra/public/storage
/infra/storage/*.key
/infra/vendor
/infra/.env
.env.backup
.env.production
/infra/.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.docker